body{
			background: url(https://s6.postimg.org/puwoo40b5/background.png) no-repeat center center fixed; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
		}
a:link, a:visited {
    color: #55FFFF;
    text-decoration: none;
    
}
/* Profile */
		.logo img{
			width:10%;
			margin:auto;
			display: block;
		}
		.profile{
			width: 80%;
			padding-top: 120px;
			margin: auto;
		}
		.profile img{
			width: 35%;
      
			display: block;
			margin: auto;
			border-radius: 50%;	
		}
		.social-media{
			padding-top: 2%;
			margin: auto;
			width: 100%;
			text-align: center;
			font-size: 150%;
		}
		.fa-facebook,.fa-twitter,.fa-linkedin,.fa-envelope-o,.fa-github,.fa-codepen{
			color:white;
			background-color: none;
			width: 35px;
			height: 35px;
			margin: 0px 0.5%;
			border-radius: 50%;
			border:2px solid white;
			padding-top:7px;

		}
		.fa-facebook:hover{
			transition: all .2s;
			color:white;
			background-color: none;
			border:2px solid white;
			box-shadow: 0 3px  0 #000;
			background-color:#355089 ;

		}
		.fa-twitter:hover{
			transition: all .2s;
			color:white;
			background-color: none;
			border:2px solid white;
			box-shadow: 0 3px  0 #000;
			background-color:#60ABDF ;

		}
		.fa-linkedin:hover{
			transition: all .2s;
			color:white;
			background-color: none;
			border:2px solid white;
			box-shadow: 0 3px  0 #000;
			background-color:#007BB6 ;

		}
		.fa-envelope-o:hover{
			transition: all .2s;
			color:white;
			background-color: none;
			border:2px solid white;
			box-shadow: 0 3px  0 #000;
			background-color:#E2121F ;

		}
		.fa-github:hover{
			transition: all .2s;
			color:white;
			background-color: none;
			border:2px solid white;
			box-shadow: 0 3px  0 #000;
			background-color:#171515 ;

		}
		.fa-codepen:hover{
			transition: all .2s;
			color:white;
			background-color: none;
			border:2px solid white;
			box-shadow: 0 3px  0 #000;
			background-color:#1B1B1B ;

		}
		.about{
			color:white;
			font-size: 25px;
			text-align: center;
			font-family: 'Roboto', sans-serif;
		}


		@media only screen and (max-width: 760px){
					.logo img{
			width:20%;
			margin:auto;
			display: block;
					}
					.profile{
						width: 70%;

					}
					.profile img{
						width: 26%;

					}	
		}
		@media only screen and (max-width: 360px){
					.logo img{
			width:40%;
			margin:auto;
			display: block;
					}
					.profile{
						width: 100%;

					}
					.profile img{
						width: 46%;

					}	
		}


/* Specialist*/
	.page {
		padding-top: 50px;
		text-align: center;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		color:#D4FFFF;

	}
	.page img{
		width: 100%

	}
	.sp-container{
		border: 1px #EEEEEE solid;

	}
	hr.style1{
		
		margin-left: 155px;
		margin-right: 155px;
	}
	.specialised{
		padding-bottom: 10px;
		text-transform: uppercase;
	}


/* My works */

	.work{
		background: url(https://s6.postimg.org/qbmhoadg1/download5.jpg) no-repeat center center fixed;
		background-size: cover;
		width: 100%;
		text-align: center;
		padding: 120px;
	}
	.work h1{
		font-size: 200%;
		font-family: 'Orbitron', sans-serif;
		color:#FFFFFF;
		text-transform: uppercase;
	}

	.graphic{
		padding-top: 50px;
	}
	.graphic img{
		width: 60%;
		margin: auto;
		display: block;
		padding-right: -50px;
		padding-left: -50px;

	}
	.logo-container{
		background-color: #Fff;
		width: 20%;
		float: left;
		margin: 2.5%;
		border:5px solid #EBEBEB;

	}
	.logo-container:hover{
		box-shadow: 0 10px 8px 0 #000;
		transition: all .3s;

	}

	.logo-container img{
		width: 100%;
		margin: auto;
		display: inline-block;
		

	}

	.webpage-container{
		background-color: #Fff;
		width: 50%;
		margin: auto;
		border:5px solid #EBEBEB; 
		display: block;
		text-align: center;

	}
	.webpage-container:hover{
		box-shadow: 0 10px 8px 0 #000;
		transition: all .3s;

	}


/* Final Word */


	.final-word{
		background: url('https://s6.postimg.org/o5s6ts9zl/download3.jpg') center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		opacity: 0.9;

	}
	.final-word p{
		padding:100px 50px;
		text-align: center;
		text-transform: uppercase;
		color:white;
		font-size: 25px;
		font-family: 'Orbitron', sans-serif;
		color:#FFF;

	}


/*footer */
	footer p{
		text-align: center;
		font-size: 15px;
		font-family: 'Orbitron', sans-serif;
		color:#fff;
	}

